li {
    font-size: 18px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul a:hover {
    background-color: #111;
}

body {
    background-color: #565656;
}

header {
    margin-right: ;
}

h2 {
    color: white;
}
