li {
    font-size: 18px;
}

li a {
    display: circle;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-family: sans-serif
}

ul a:hover {
    background-color: #222;
}

body {
    background-color: #565656;
}

header {
    margin-right: ;
}

h2 {
    color: white;
}
